

.help-container {
    display: flex;
    align-items: center;
    width: 300px;
    margin-left: 7%;
    margin-top: 7%;
}

.helpdot {
    background: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 5px; /* Set the spacing to exactly 5px */
    margin-bottom: 4px;
   
}

.helptitle strong {
    margin: 0; /* Remove any unwanted extra margin */
    font-size: 20px;
   
}

.cardflexbox{
    margin-left: 25%;
    margin-top: 7%;
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
}


.helpcard {
    width: 350px;
    height: 400px;
    color: black;
    align-items: center;
    background-color: #cec9c959;
    border-radius: 24px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Soft shadow */
}

.helpcard .no {
    font-size: 80px;
    color: #a5a1a159;
    margin-left: 7%;
    padding-top: 7%;
}

.cardtitle{
    margin-left: 7%;
    margin-top: 35%;
    font-weight: 700;
    color: rgb(71, 69, 69);
}

.cardcontent {
    margin-left: 7%;
    margin-top: 5%;
   
}

.cardcontent p{
    text-align: justify;
    color: rgb(61, 60, 60);
}

.cardmaintitle{
    margin-left: 7%;
    margin-top: 10%;
}

.cardmaintitle span {
    color: rgb(61, 60, 60);
    font-size: 40px;
}