/* Base styles for larger screens */
.maincontent {
    font-size: 120px;
    margin: 15% 2% 2% 8%;
    font-family: 'PP Mori', sans-serif;
}

.subcontent {
    margin-top: -110px;
    margin-left: 60%;
    font-family: 'PP Mori', sans-serif;
}

.circle{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../Assets/world.png);
    border-radius: 50%;
    background-size: cover;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
    color: black;
    
}
@keyframes rotateText {
    0%
    {
        transform: rotate(-360deg);
    }

    100%
    {
        transform: rotate(0deg);
    }
}
.text span {
    position: absolute;
    left: 50%;
    font-size: 0.8rem;
    transform-origin: 0 50px; /* Adjust the radius as needed */
    line-height: 1;
    white-space: nowrap;
    color: black;
}

/* Responsive styles for smaller screens */
.circle{
    margin-left: 70%;
    margin-top: -17%;
}

.scroll a{
    font-size: 80px;
    color: black;
    font-weight: 100;
}


@media only screen and (max-width: 1090px) {
    .maincontent {
        font-size: 80px; /* Adjust font size as needed */
        margin: 24% 4% 0 4%; /* Center the main content */
        text-align: left;
    }

    .subcontent {
        margin: 20px auto 0; /* Center the subcontent below */
        margin-left: 64%;
        margin-top: -70px;
        text-align: left;
    }

    .circle{
        margin-top: -25%;
    }

}

@media only screen and (max-width: 768px) {
    .maincontent {
        font-size:80px; /* Adjust font size as needed */
        margin: 24% 4% 0 4%; /* Center the main content */
        text-align: left;
    }

    .subcontent {
        margin: 20px auto 0; /* Center the subcontent below */
        margin-left: 4%;
        text-align: left;
    }

    .circle{
        margin-top: -57%;
    }
}



